OPENAI_API_KEY= # [REQUIRED get it from https://platform.openai.com/api-keys
OPENAI_MODEL=gpt-4o # [REQUIRED] choose an OpenAI model of your choice. Ensure the input/output token count meets requirements (and adjust INPUT_TOKEN_LIMIT accordingly). List of models here: https://platform.openai.com/docs/models
INPUT_TOKEN_LIMIT=50 # [REQUIRED] keep in mind the token limit for selected model (which includes both input AND output tokens). For example, if your input limit is 50,000 characters, this could incur up to 25,000 tokens. Assuming your selected model allows for 64,000 tokens, you will therefore be able to obtain an output of over 39,000 tokens.